.aoverall {
    width: 60%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    cursor: pointer;
    margin-bottom: 12px;
    padding: 10px;
    box-sizing: border-box;
}

.aoverall:hover {
    background-color: rgba(220, 220, 220, 0.9);
}