.poverall {
    width: 100vw;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.ppagesec1 {
    width: 20vw;
}

.ppagesec2 {
    width: 60%;
}

.ppagesec3 {
    width: 20%;
}

.bg-design{
    background-image: url("https://images.unsplash.com/photo-1499336315816-097655dcfbda?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2710&amp;q=80");
    background-size: cover;
    background-position: center;
}
.userq
{
    /* border-width: 2px; */
    border-top-width: 1px;
    border-color: rgb(211, 202, 202);
    overflow-y: scroll;
    scrollbar-width: thin; 
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent; 
    overflow-y: scroll; 
    position: relative;
    height: 600px;
    width: 90%;
}